body {
  margin: 0;
  padding: 0;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  	background: linear-gradient(to left, rgba(3,2,9,9)0%,rgba(0,128,150,1)100%); /* Standard syntax */
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",

}

/*code {
    monospace;
}*/
